<div class="player__details">
  <a href="edit/{{player.id}}">Edit</a>
  <form action="/players/remove/{{player.id}}" method="POST">
    <input type="submit" value="Delete">
  </form>
  <h3>{{player.name}}</h3>
  {{#if player.description}}
  <p>{{player.description}}</p>
  {{else}}
  <p>There's no description to this player</p>
  {{/if}}
</div>